<div class="login-container">
    <mat-card class="centre">
        <mat-card-title>Login</mat-card-title>
        <img class="midicon" src="assets/logo.png" />
        <form class="flex" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
            <mat-form-field>
                <input type="email" matInput placeholder="E-mail" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
            <button mat-stroked-button color="primary" type="submit" [disabled]="!loginForm.valid || loading">Login</button>
            <div [style.visibility]="loading?'visible':'hidden'" class="margintop10">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
        </form>
    </mat-card>
</div>